{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Sl. No.</th>
          <th>Name</th>
          <th>Author</th>
          <th>Published Year</th>
          <th>Ratings</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr>
          <td>{{ loop.index + (page - 1) * per_page }}</td>
          <td>{{ book['title'] }}</td>
          <td>{{ book['author'] }}</td>
          <td>{{ book['year'] }}</td>
          {% if book['ratings'] == 0: %}
            <td> Unrated </td>
          {% else %}
            <td>{{ book['ratings'] }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {{ pagination.links }}
</div>
{% endblock %}